.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 1.5vw;
}

/* double specificity to override other style */
.container.container {
  justify-content: flex-start;
}

.guessContainer {
  min-width: 25vw;
  position: relative;
}

.guess {
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  background: transparent;
  caret-color: black;
}

.guess,
.guessUnderlay {
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  text-align: center;
}

.guessUnderlay {
  padding: 1vmin 2vmin;
  white-space: pre-wrap;
  line-height: 150%;
}

.guessLabel {
  gap: 1vw;
}

.buttonRow {
  gap: 1vw;
}
