.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 1.5vw;
}

/* double specificity to override other style */
.container.container {
  justify-content: flex-start;
}

.guessContainer {
  min-width: 25vw;
  position: relative;
}

.guess {
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  background: transparent;
  caret-color: black;
}

.guess,
.guessUnderlay {
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  text-align: center;
}

.guessUnderlay {
  padding: 1vmin 2vmin;
  white-space: pre-wrap;
  line-height: 150%;
}

.guessLabel {
  gap: 1vw;
}

.buttonRow {
  gap: 1vw;
}

.wordPackSelector {
  display: flex;
  flex-direction: column;
}

.wordPackSelector button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.wordPackSelector button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wordPackSelector button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.wordPackSelector button:not(:first-child) {
  border-top: none;
}
