.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 1.5vw;
}

/* double specificity to override other style */
.container.container {
  justify-content: flex-start;
}

.guess {
  width: min-content;
  min-width: 50%;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.guessLabel {
  gap: 1vw;
}

.buttonRow {
  gap: 1vw;
}
