html,
body,
button {
  margin: 0;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: calc(max(12px, 1.5vw));
}

html,
body,
#root {
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.word,
code {
  font-family:
    "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.word {
  font-weight: bold;
  font-size: 2.5vw;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

button,
input {
  border: calc(max(1px, 0.3vmin)) solid black;
  border-radius: 1vmin;

  padding: 1vmin 2vmin;

  overflow: hidden;
  line-height: 150%;
}

button {
  background: color-mix(in oklch, cornflowerblue 25%, transparent);
  user-select: none;
}

button:hover,
button:focus {
  background: color-mix(in oklch, cornflowerblue 45%, transparent);
}

* {
  box-sizing: border-box;
}
