.container {
  height: 35%;
  mask-image: linear-gradient(transparent, rgb(0 0 0 / 100%));
  overflow: hidden;

  gap: 1.5vw;
}

/* double specificity to override other style */
.container.container {
  justify-content: flex-end;
}
