.container {
  height: 35%;
}

/* double specificity to override other style */
.container.container,
.innerContainer.innerContainer {
  justify-content: flex-end;
}

.innerContainer {
  flex-grow: 1;
  mask-image: linear-gradient(transparent, rgb(0 0 0 / 100%));
}

.container,
.innerContainer {
  gap: 1.5vw;
  overflow: hidden;
}
